<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/css/page16.css">
</head>
<body>
    <div class="container">
        <img src="../../storage/images/UnoAI image - OpenAI.png" alt="" class="img1">
        <img src="../../storage/images/Doscolor blocks.png" alt="" class="img2">
        <img src="../../storage/images/TresContent.png" alt="" class="img3">
        <img src="../../storage/images/CuatroDieciseislist.png" alt="" class="img4">
    </div>
</body>
</html>
