<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/page17.css">
</head>
<body>
    <header>
        <h1>Find the project you love</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Faucibus in libero risus semper habitant arcu eget. Et integer <br> facilisi eget diam.Lorem ipsum dolor sit ame,consectetur </p>
        <button>Explore</button>
    </header>

    <section class="info-cards">
        <img src="/storage/images/UNOlist.png" alt="">
    </section>

    <section class="gallery">
        <img src="/storage/images/Unoimage1.png" alt="Architecture"> <br>
        <div class="sub-gallery">
            <img src="/storage/images/Dosimage2.png" alt="Modern Design">
            <img src="/storage/images/Tresimage3.png" alt="Circular Structure">
            <img src="/storage/images/Cuatroimage4.png" alt="Abstract Waves">
        </div>
    </section>
</body>
</html>
