<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/page11.css">
</head>
<body>
    <div class="header">
        <h1>New designs <br>
            New inspirations</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus semper <br> habitant arcu eget. Et integer facilisi eget diam.
        </p>

        <button>Explore</button>
    </div>
    <div class="conteiner">
        <img src="/storage/images/unoOnce.png" alt="" class="img1">
        <img src="/storage/images/dosOnce.png" alt="" class="list">
    </div>
</body>
</html>
