<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/css/page15.css">
</head>
<body>
    <div class="header">
        <h1>Adventure <br> Voyage <br> Wandering</h1>
        <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. Faucibus <br> in libero risus semper habitant arcu <br> eget. Et integer facilisi. 
        </p>

        <button>Get Started</button>
    </div>
    <div class="header2">
        <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. <br> Faucibus  in libero risus <br> semper habitant arcu eget. <br> Et integer facilisi. 
        </p>
        <h1>Trave <br> Explore <br> Discover</h1>
    </div>
    <div class="conteiner">
    <img src="../../storage/images/Unoimage middle.png" alt="" class="img1">
    <img src="../../storage/images/Dosimages left.png" alt="" class="left">
    <img src="../../storage/images/Tresimages right.png" alt="" class="right">
    <img src="../../storage/images/CuatroStar 3.png" alt="" class="star1">
    <img src="../../storage/images/CincoStar 4.png" alt="" class="star2">
    </div>
</body>
</html>
