<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/css/page18.css">
</head>
<body>
    <header>
        <h1>Your ultimate <br> fashion outfits</h1> <br><br>
        <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus </p> <br><br>
        <button>Explore</button>
    </header>

    <img src="../../storage/images/shape and font circle.png" alt="" class="shape1">
    <img src="../../storage/images/shape and font circle-1.png" alt="" class="shape2">
    <br><br><br><br><br>
    <section class="gallery">
        <img src="../../storage/images/Unoimage gallery.png" alt="" class="gallery-img">
        <img src="../../storage/images/Dostext right-1.png" alt="" class="right1">
        <img src="../../storage/images/Unotext right.png" alt="" class="right2">
        </div>
    </section>
</body>
</html>
