<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/page5.css">
</head>
<body>
    <div class="container">
        <div class="uno">
            <h1>Projects and <br> practice</h1>
        </div>
        <br><br><br><br>
        <div class="header">
            <div class="img1">
                <h1>01</h1> <br>
                <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. Faucibus <br> in libero risus semper habitant arcu <br> eget. Et integer facilisi eget.</p>

                <img src="/storage/images/unoCinco.png" alt="">
            </div>
            <div class="img2">
                <h1>02</h1> <br>
                <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. Faucibus <br> in libero risus semper habitant arcu <br> eget. Et integer facilisi eget.</p>

                <img src="/storage/images/dosCinco.png" alt="">
            </div>
            <div class="img3">
                <h1>03</h1> <br>
                <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. Faucibus <br> in libero risus semper habitant arcu <br> eget. Et integer facilisi eget.</p>

                <img src="/storage/images/tresCinco.png" alt="">
            </div>
        </div>
    </div>
</body>
</html>