<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/page8.css">
</head>
<body>
    
    <div class="container">
        <img src="/storage/images/unoOcho.png" alt="">

        <div class="texto1">
            <h1>Take your <br> designs to <br>the next <br>level</h1>
            <br>

            <p>
                Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus <br> semper habitant arcu.
            </p>
            <div class="button1">
                Explore
            </div>
        </div>
        
    </div>
</body>
</html>