<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="src/css/page1.css">
</head>
<body>
    <div class="header">
        <h1>Discover. <br> Explore. <br> Inspire.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus semper <br> habitant arcu eget. Et integer facilisi eget diam.
        </p>

        <button>Explore</button>
    </div>
    <div class="conteiner">
        <img src="/storage/images/UnoShapes decor.png" alt="" class="img1">
        <img src="/storage/images/DosCard.png" alt="" class="card">
        <img src="/storage/images/TresImage area.png" alt="" class="img2">
    </div>
</body>
</html>
