<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/page20.css">
</head>
<body>
    <header>
        <h1>Your coffee <br> Your vibe <br> Your energy</h1> <br>
        <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. Faucibus <br> in libero risus semper habitant arcu <br> eget. Et integer facilisi eget. <br>
            facilisi eget. Lorem ipsum dolor. </p> <br><br>
        <button>Explore</button>
    </header>
    <img src="/storage/images/UnoHero images.png" alt="" class="hero">


<img src="/storage/images/DosVeintelist.png" alt="" class="list">
<div class="white">
    <img src="/storage/images/TresVeinteImages bottom.png" alt="" class="imgbottom">
</div>
</body>
</html>
