<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/css/page9.css">
</head>
<body>

    <div class="right">
        <img src="../../storage/images/UnoImage right.png" alt="">
    </div>
    <div class="left">
        <img src="../../storage/images/DosImage left.png" alt="">
    </div>
    <div class="list">
        <img src="../../storage/images/TresList.png" alt="">
    </div>
    
    <div class="container">
        
        <div class="texto1">
            <h1>
                Interior design
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Faucibus in libero risus semper habitant arcu eget. <br> Et integer facilisi eget.
            </p>

            <div class="button1">
                Explore
            </div>
        </div>

    </div>
</body>
</html>