<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/page10.css">
</head>
<body>    
    <div class="container">
        
        <div class="texto1">
            <h1 class="uno">Design.</h1>
            <h1 class="dos">Create.</h1>
            <h1 class="tres">Inspire.</h1>
            <p>
                Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. Faucibus <br> in libero risus semper habitant arcu <br> eget. Et integer facilisi eget.
            </p>
            <div class="button1">
                Explore
            </div>
        </div>

        <div class="image-galery">
            <img src="/storage/images/unoDiez.png" alt="1" class="img1">
            <img src="/storage/images/dosDiez.png" alt="2" class="img2">
            <img src="/storage/images/tresDiez.png" alt="3" class="img3">
            <img src="/storage/images/cuatroDiez.png" alt="4" class="img4">
            <img src="/storage/images/cincoDiez.png" alt="5" class="img5">
            <img src="/storage/images/seisDiez.png" alt="6" class="img6">
            <img src="/storage/images/sieteDiez.png" alt="7" class="img7">
            <img src="/storage/images/ochoDiez.png" alt="8" class="img8">
            <img src="/storage/images/nueveDiez.png" alt="9" class="img9">
            <img src="/storage/images/diezDiez.png" alt="10" class="img10">
            <img src="/storage/images/onceDiez.png" alt="11" class="img11">
            <img src="/storage/images/doceDiez.png" alt="12" class="img12">
            <img src="/storage/images/treceDiez.png" alt="13" class="img13">
            <img src="/storage/images/catorceDiez.png" alt="14" class="img14">
            <img src="/storage/images/quinceDiez.png" alt="15" class="img15">
            <img src="/storage/images/dieciseisDiez.png" alt="16" class="img16">
        </div>

    </div>
</body>
</html>