<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page01</title>
    <link rel="stylesheet" href="../css/page1.css">
</head>
<body>
    <div class="header">
        <h1>Discover  the beauty <br>
        around the world</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing<br> elit. 
            Facivus in libero risus semper habitant arcu <br> eget. Et integer facilisi eget diam
        </p>
        <button>Explore</button>
    </div>
    <div class="conteiner">
        <img src="/storage/images/unoUno.png" alt="Cuadrado1">
        <img src="/storage/images/dosUno.png" alt="Cuadrado2">
        <img src="/storage/images/tresUno.png" alt="Cuadrado3">
        <img src="/storage/images/cuatroUno.png" alt="Cuadrado4">
        <img src="/storage/images/cincoUno.png" alt="Cuadrado5">
        <img src="/storage/images/seisUno.png" alt="Cuadrado6">
        <img src="/storage/images/sieteUno.png" alt="Cuadrado7">
        <img src="/storage/images/ochoUno.png" alt="Cuadrado8">
    </div>
</body>
</html>