<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/page19.css">
</head>
<body>
    <header>
        <h1>A place your <br> eat healthy</h1> <br>
        <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus <br> semper habitant arcu eget. Et integer <br>
            facilisi eget. Lorem ipsum dolor. </p> <br><br>
        <button>Explore the menu</button>
    </header>


    <br><br><br><br><br>
    <section class="gallery">
        <img src="src/storage/img/UnoDiecinueve.png" alt="" class="img1">
        <img src="src/storage/img/DosDiecinueve" alt="" class="img2">
    </div>
</section>
<div class="white"></div>
</body>
</html>
