<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/css/page6.css">
</head>
<body>
    
    <div class="container">
        <img src="../../storage/images/Image group.png" alt="" class="img-group">
        <div class="uno">
            <img src="../../storage/images/Font circle.png" alt=""><br><br><br><br>
            <h1>THE eWatch with the <br> newest microchip <br>technology</h1> <br><br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Faucibus in libero risus semper habitant arcu <br> eget. Et integer facilisi eget diam.
            </p>

            <br><br>

            <div class="buttons">
                <div class="button1">
                    Order Now
                </div>
                <div class="button2">
                    Explore more
                </div>
            </div>
            <br><br><br><br>
            <div class="header">
                <div class="img1">
                    <img src="../../storage/images/list.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>