<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page1</title>
    <link rel="stylesheet" href="../../src/css/page13.css">
</head>
<body>
    <div class="header">
        <h1>Create <br> your <br>
        design</h1>
        <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. <br> Faucibus in libero risus semper <br> habitant arcu eget. 
        </p>
        <button>Explore</button>
    </div>
    <div class="conteiner">
        <div class="uno">
            <h2>01</h2>
            <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus.</p>
        </div>
        <div class="dos">
            <h2>02</h2>
            <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus.</p>
        </div>

    </div>
    
    <img src="../../storage/images/Unoimage.png" alt="" class="fondo">
    <img src="../../storage/images/DosExplosion.png" alt="" class="explosion">
    <img src="../../storage/images/TresParty.png" alt="" class="party">
    <img src="../../storage/images/CuatroStar.png" alt="" class="star1">
    <img src="../../storage/images/CuatrooStar.png" alt="" class="star2">
    <img src="../../storage/images/CincoImage top.png" alt="" class="top">
    <img src="../../storage/images/SeisImage bottom.png" alt="" class="bottom">
</body>
</html>
