@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    padding: 64px;
}
.conteiner{
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 70vh 55vh;
    gap: 20px;
    row-gap: 5vw;
    width: 92vw;
}
.uno{
    grid-column-start: 1 ;
    grid-column-end: span 1;
    grid-row-start:1 ;
    grid-row-end: span 1;
    padding: 10px;
    padding-top: 4vw;
    
    
}
.uno h1{
    font-size: 56px;
    font-family: "avenir-heavy";
}

.uno p{
    font-size: 27px;
    font-family: "avenir-roman";
    opacity: 0.7;
}

.dos{
    grid-column-start: 2 ;
    grid-column-end: span 1;
    grid-row-start:1 ;
    grid-row-end: span 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}


.tres{
    grid-column-start: 3 ;
    grid-column-end: span 1;
    grid-row-start:1 ;
    grid-row-end: span 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.cuatro{
    grid-column-start: 1 ;
    grid-column-end: span 1;
    grid-row-start:2 ;
    grid-row-end: span 1;
    display: flex;
    justify-content: center;
    align-items: end;
   
}


.cinco{
    grid-column-start: 2 ;
    grid-column-end: span 1;
    grid-row-start:2 ;
    grid-row-end: span 1;
    display: flex;
    justify-content: center;
    align-items: end;
   
}

.seis{
    grid-column-start: 3 ;
    grid-column-end: span 1;
    grid-row-start:2 ;
    grid-row-end: span 1;
    display: flex;
    justify-content: center;
    align-items: end;
  
}

.dos img{
    width: 27vw;
    height: 57vh;
}
.tres img{
    width: 27vw;
    height: 60vh;
}

.cuatro img, .cinco img, .seis img{
    width: 27vw;
    
}

button{
    background-color: #252525;
    color: white;  
    width: 9.3vw;
    height: 2.4vw; 
    border-radius: 1vw;
    font-weight: normal;
}