*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    padding: 64px;
}
.conteiner{
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 70vh 55vh;
    gap: 20px;
    row-gap: 5vw;
    width: 92vw;
}
.uno{
    grid-column-start: 1 ;
    grid-column-end: span 1;
    grid-row-start:1 ;
    grid-row-end: span 1;
   
    
}

.dos{
    grid-column-start: 2 ;
    grid-column-end: span 1;
    grid-row-start:1 ;
    grid-row-end: span 1;

    
}


.tres{
    grid-column-start: 3 ;
    grid-column-end: span 1;
    grid-row-start:1 ;
    grid-row-end: span 1;
   
}


.cuatro{
    grid-column-start: 1 ;
    grid-column-end: span 1;
    grid-row-start:2 ;
    grid-row-end: span 1;

   
}


.cinco{
    grid-column-start: 2 ;
    grid-column-end: span 1;
    grid-row-start:2 ;
    grid-row-end: span 1;
    
   
}

.seis{
    grid-column-start: 3 ;
    grid-column-end: span 1;
    grid-row-start:2 ;
    grid-row-end: span 1;
    
  
}
