@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #2F2F2F;
}

.container{
    display: flex;
}

.texto1 {
    padding: 50px;
    margin-left: 200px;
    font-size: 56px;
    font-family: "Poppins-bold";
    color: white;
}

.texto1 p{
    font-size: 33px;
    font-family: "Poppins";
}

.button1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Poppins";
    font-size: 30px;
    background-color: white;
    width: 225px;
    height: 85px;
    border-radius: 45px;
    border: none;
    margin-right: 20px;
}