@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 100px;
    padding-left: 300px ;
}

.header{
    display: flex;
}

.uno h1{
    font-size: 65px;
    font-family: "avenir-heavy";
    margin-right: 150px;
}

.dos{
    grid-column-start: 2 ;
    grid-column-end: span 1;
    grid-row-start:1 ;
    grid-row-end: span 1;
    font-size: 20px;
    font-family: "avenir-roman";
    color: #696868;
}

.tres{
    padding-top: 100px;
}

button{
    color: white;
    font-family: "avenir-roman";
    background-color: black;
    width: 130px;
    height: 45px;
    border-radius: 15px;
    border: none;
}