:root{
    --color-1: #000000;
    --color-2: #FFFFFF;
}
@font-face {
    font-family: "avenir-heavy";
    src: url(../../storage/fonts/Avenir\ Heavy.ttf);
}

@font-face {
    font-family: "avenir-roman";
    src: url(../../storage/fonts/Avenir-Roman.ttf);
}
@font-face {
    font-family: "work-sans";
    src: url(../../storage/fonts/WorkSans-Medium.ttf);
}

@font-face {
    font-family: "work-sans-bold";
    src: url(../../storage/fonts/WorkSans-Light.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(../../storage/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-bold";
    src: url(../../storage/fonts/Poppins-Bold.ttf);
}
