:root{
    --color-1: #000000;
    --color-2: #FFFFFF;
}
@font-face {
    font-family: "avenir-heavy";
    src: url(../storage/font/Avenir\ Heavy.ttf);
}

@font-face {
    font-family: "avenir-roman";
    src: url(../storage/font/Avenir-Roman.ttf);
}
